<div class="container">
  <form action="" method="post">
    <input type="text" name="" id="">
    <button id="submit-btn" class="btn btn-outline-primary" type="submit">Shorten URL</button>
  </form>
</div>
