<div class="container">
  <h4>Success! Please use this link</h4>
  <a id="short-url" href="http://localhost:3000/{{ hashValue }}">http://localhost:3000/{{ hashValue }}</a>
  <button class="btn btn-primary" id="copyBtn">Copy</button>
</div>
