<div class="container">
  <h4>Success! Please use this link</h4>
  <a id="short-url" href="https://example.com/{{ hashValue }}">https://example.com/{{ hashValue }}</a>
  <button class="btn btn-primary" id="copyBtn">Copy</button>
</div>
