<div class="container">
  <h4>Success! Please use this link</h4>
  <a href="https://example.com/{{ hashValue }}">https://example.com/{{ hashValue }}</a>
  <button class="btn btn-primary">Copy</button>
</div>
