<h4 class="mt-2">Success! Please use this link</h4>
<a id="short-url" href="http://localhost:3000/{{ hashValue }}">http://localhost:3000/{{ hashValue }}</a>
<button class="btn btn-primary mt-2" id="copyBtn">Copy</button>
